<!doctype html>
<html lang ="en" ng-app="PingPongLeaderboard">
  <head>
    <meta charset ="utf-8">
    <title>Makers' Leaderboard</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/submitResultsController.js"></script>
    <script src="js/leaderboardController.js"></script>

  </head>

  <body>
    <section ng-controller="SubmitResultsController as resultsCtrl">
      <form class="player-entries">
        <label for="winner">Winner:</label>
        <input id="winner" type = "text" ng-model="resultsCtrl.winner">
        <label for="loser">Loser:</label>
        <input id="loser" type = "text" ng-model="resultsCtrl.loser">
        <button class="submit" ng-click="resultsCtrl.submitResults()">Submit Result</button>
      </form>
      <p ng-show="resultsCtrl.confirmation">Results have been sent!<p>
      <p ng-show="resultsCtrl.unconfirmation">
        Results have NOT been sent!
      </p>
    </section>

    <section class="Leaderboard" ng-controller="LeaderboardController as leadCtrl">
      <form class="players-load">
        <button class="submit" ng-click="leadCtrl.retrievePlayers()">Update Leaderboard</button>
      </form>
      <ul class ="list-players">
        <li class="player" ng-repeat = "player in leadCtrl.players">
          <p>
            {{player.name}} {{player.wins}} {{player.losses}} {{player.win_percentage}}%
          </p>
        </li>
      </ul>
    </section>
  </body>



</html>
